doctype html
html
  head
    meta(charset='utf-8')
    title Bellalove
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Bella Love Inc. is an exciting new way to promote live-entertainment and arts in the Greater Charlotte area.')
    meta(name='keywords', content='Live Music, Performance, Art, Community, Festival, Entertainment, Creativity, Love, Bella, Food Truck, Fun, Things to do, Inspiration')
    link(rel='shortcut icon', href='favicon.ico')
    meta(name='author', content='humans.txt')
    link(href='styles/prettyPhoto.css', rel='stylesheet', type='text/css')
    link(href='styles/main.css', rel='stylesheet', type='text/css')
    link(href='styles/fonts/fonts.css', rel='stylesheet', type='text/css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js', type='text/javascript')
    script(src='scripts/before.pkg.min.js', type='text/javascript')
  body
    #page
      section#top
        header
          .container
            nav.navmenu
              ul
                li.active.first
                  a(href='#top') Home
                li
                  a(href='#events') Events
                li.center_menu_item
                  a(href='#artists') Artists
                li
                  a(href='#media') Media
                li
                  a(href='#contact') Contact
                li.last
                  a(href='#shop') Shop
      section#home.page_section.parallax_effect(data-stellar-background-ratio='0.5')
        .container
          .welcome_block
            h1 Bellalove
            br
            p Bringing out the awesome in local art
          a.down_btn(href='#events')
        .home_gradient
      section#events.page_section
        .container
          h2 Events
        .content_section.container
          .events_block
            .post_block
              .event_img
                img(src='images/events/secondFridayEventBanner.jpg')
                a.zoom(href='images/events/4.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') 2ND FRIDAY ART WALK
                .event_info
                  span.place Oak St&period; Mill
                .event_info
                  span.time 5&colon;00 pm - 9&colon;00 pm
                | Oak Street Mill explodes with activity every month when this art walk comes to town&period; Local musicians flood the air with a joyful sound while artists and vendors showcase their eclectic wares&period;
              .post_date
                | 14
                span march
            .post_block.second_post_block.right_post
              .event_img
                img(src='images/events/1.jpg')
                a.zoom(href='images/events/1.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') OPEN MIC 2&period;0
                .event_info
                  span.place Kadi Fit - Oak St&period; Mill
                .event_info
                  span.time 7&colon;30 pm - 11&colon;30 pm
                | Open Mic Night series has been bringing the crowds to Old Town Cornelius before it was cool&period; In the Bella Love tradition&comma; local artists and performers take the stage and create a truly unique experience&period;
              .post_date
                | 20
                span march
            .post_block
              .event_img
                img(src='images/events/marchLive.jpg')
                a.zoom(href='images/events/3.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') LIVE&excl;
                .event_info
                  span.place Kadi Fit - Oak St&period; 
                .event_info
                  span.time 7&colon;30 pm - 11&colon;30 pm
                | Live&excl; at Oak Street Mill is your all-access pass to discovering the best talent right here in your hometown&period; This bi-monthly series features the area&rsquor;s most innovative bands&comma; live artists and performing groups all joining together to create a special collaborative experience&period;
              .post_date
                | 29
                span march
            .post_block.right_post
              .event_img
                img(src='images/events/1.jpg')
                a.zoom(href='images/events/1.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') OPEN MIC 2&period;0
                .event_info
                  span.place Kadi Fit - Oak St&period; Mill
                .event_info
                  span.time 7&colon;30 pm - 11&colon;30 pm
                | Open Mic Night series has been bringing the crowds to Old Town Cornelius before it was cool&period; In the Bella Love tradition&comma; local artists and performers take the stage and create a truly unique experience&period;
              .post_date
                | 3
                span april
            .post_block
              .event_img
                img(src='images/events/secondFridayEventBanner.jpg')
                a.zoom(href='images/events/4.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') 2ND FRIDAY ART WALK
                .event_info
                  span.place Oak St&period; Mill
                .event_info
                  span.time 5&colon;00 pm - 9&colon;00 pm
                | Oak Street Mill explodes with activity every month when this art walk comes to town&period; Local musicians flood the air with a joyful sound while artists and vendors showcase their eclectic wares&period;
              .post_date
                | 11
                span april
            .post_block.right_post
              .event_img
                img(src='images/events/1.jpg')
                a.zoom(href='images/events/1.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') OPEN MIC 2&period;0
                .event_info
                  span.place Kadi Fit - Oak St&period; Mill
                .event_info
                  span.time 7&colon;30 pm - 11&colon;30 pm
                | Open Mic Night series has been bringing the crowds to Old Town Cornelius before it was cool&period; In the Bella Love tradition&comma; local artists and performers take the stage and create a truly unique experience&period;
              .post_date
                | 17
                span april
            .post_block
              .event_img
                img(src='images/events/5.jpg')
                a.zoom(href='images/events/5.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') FOOD TRUCK INVITATIONAL
                .event_info
                  span.place Oak St&period; Mill
                .event_info
                  span.time 3&colon;00 pm - 8&colon;00 pm
                | A throw-down of the area&apos;s tastiest trucks in a friendly competition where YOU are invited to be the judge&period;
              .post_date
                | 19
                span april
            .post_block.right_post
              .event_img
                img(src='images/events/1.jpg')
                a.zoom(href='images/events/1.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') OPEN MIC 2&period;0
                .event_info
                  span.place Kadi Fit - Oak St&period; Mill
                .event_info
                  span.time 7&colon;30 pm - 11&colon;30 pm
                | Open Mic Night series has been bringing the crowds to Old Town Cornelius before it was cool&period; In the Bella Love tradition&comma; local artists and performers take the stage and create a truly unique experience&period;
              .post_date
                | 1
                span may
            .post_block
              .event_img
                img(src='images/events/1.jpg')
                a.zoom(href='images/events/1.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') OPEN MIC 2&period;0
                .event_info
                  span.place Kadi Fit - Oak St&period; Mill
                .event_info
                  span.time 7&colon;30 pm - 11&colon;30 pm
                | Open Mic Night series has been bringing the crowds to Old Town Cornelius before it was cool&period; In the Bella Love tradition&comma; local artists and performers take the stage and create a truly unique experience&period;
              .post_date
                | 15
                span may
            .post_block.right_post
              .event_img
                img(src='images/events/2.jpg')
                a.zoom(href='images/events/2.jpg', rel='prettyPhoto[artists1]')
              .event_description
                a.title(href='javascript:void(0);') &apos;TAWBA WALK MUSIC AND ARTS FESTIVAL
                .event_info
                  span.place Old Town Cornelius
                .event_info
                  span.time 2&colon;00 pm - 8&colon;00 pm
                | Old Town Cornelius has never looked better than during Bella Love&apos;s &apos;Tawba Walk&period; Thousands of people come to hear the area&rsquor;s top performing groups&comma; shop for one-of-a-kind items from local artisans&comma; and experience the best food that Cornelius has to offer&period;
              .post_date
                | 17
                span may
            .center_line_events
          script(type='text/javascript')
      section#awesome.page_section
        .container
          img(src="images/youreAwesome.png")
      section#artists.page_section
        .container
          h2 Artists
        .content_section
          .container
            #options
              ul#filter.option-set(data-option-key='filter')
                li
                  a.selected(href='#filter', data-option-value='*') All
                li
                  a(href='#filter', data-option-value='.bands') Bands
                li
                  a(href='#filter', data-option-value='.vocal') Vocal
                li
                  a(href='#filter', data-option-value='.visual') Visual
                li
                  a(href='#filter', data-option-value='.performance') Performance
                li
                  a(href='#filter', data-option-value='.sculpture') Sculpture
              .clear
            .row.projects.artists_block
              .element.span4.wedding
                .artists_item
                  .hover_img
                    img(src='images/projects/1.jpg')
                  .description
                    .description_in
                      p Mauris elementum
                      span Lorem ipsum dolor sit
                      a.zoom(href='images/projects/1.jpg', rel='prettyPhoto[artists1]') Open
              .element.span4.Kids
                .artists_item
                  .hover_img
                    img(src='images/projects/2.jpg')
                  .description
                    .description_in
                      p Mauris elementum
                      span Lorem ipsum dolor sit
                      a.zoom(href='images/projects/2.jpg', rel='prettyPhoto[artists1]') Open
              .element.span4.fashion
                .artists_item
                  .hover_img
                    img(src='images/projects/3.jpg')
                  .description
                    .description_in
                      p Mauris elementum
                      span Lorem ipsum dolor sit
                      a.zoom(href='images/projects/3.jpg', rel='prettyPhoto[artists1]') Open
              .element.span4.city
                .artists_item
                  .hover_img
                    img(src='images/projects/4.jpg')
                  .description
                    .description_in
                      p Mauris elementum
                      span Lorem ipsum dolor sit
                      a.zoom(href='images/projects/4.jpg', rel='prettyPhoto[artists1]') Open
              .element.span4.nature
                .artists_item
                  .hover_img
                    img(src='images/projects/5.jpg')
                  .description
                    .description_in
                      p Mauris elementum
                      span Lorem ipsum dolor sit
                      a.zoom(href='images/projects/5.jpg', rel='prettyPhoto[artists1]') Open
              .element.span4.wedding
                .artists_item
                  .hover_img
                    img(src='images/projects/6.jpg')
                  .description
                    .description_in
                      p Mauris elementum
                      span Lorem ipsum dolor sit
                      a.zoom(href='images/projects/6.jpg', rel='prettyPhoto[artists1]') Open
              .element.span4.kids
                .artists_item
                  .hover_img
                    img(src='images/projects/7.jpg')
                  .description
                    .description_in
                      p Mauris elementum
                      span Lorem ipsum dolor sit
                      a.zoom(href='images/projects/7.jpg', rel='prettyPhoto[artists1]') Open
              .element.span4.fashion
                .artists_item
                  .hover_img
                    img(src='images/projects/8.jpg')
                  .description
                    .description_in
                      p Mauris elementum
                      span Lorem ipsum dolor sit
                      a.zoom(href='images/projects/8.jpg', rel='prettyPhoto[artists1]') Open
              .element.span4.city
                .artists_item
                  .hover_img
                    img(src='images/projects/9.jpg')
                  .description
                    .description_in
                      p Mauris elementum
                      span Lorem ipsum dolor sit
                      a.zoom(href='images/projects/9.jpg', rel='prettyPhoto[artists1]') Open
      section#shop.page_section.off
        .container
          h2 Shop
        .content_section.container
          .row
            .span6(style='background-color: #eeeeee; width: 100%;')
              p Here&apos;s where we will put the current shop items
      section#media.page_section
        .container
          h2 Media
        .content_section.container
          .row
            .span6(style='background-color: #eeeeee; width: 100%;')
              p Here&apos;s where we will put the current media items
      section#about.page_section
        .content_section.container
          .copy-box
            h2 About
            p
              | So you&apos;ve seen a whole&comma; awesome smorgasbord of everything local
              | from amazing artists&comma; exceptional events and a myriad of media&period; So
              | the question remains&comma; what is going on here&quest; What is Bella Love&quest; Why
              | do my earphones always get tangled up&quest; We can&apos;t really explain the
              | latter but we got those first couple of questions covered&period;
            p
              | Bella Love is a one-of-a-kind organization that facilitates community
              | development through social interaction&period; Using all-local initiatives&comma;
              | community service projects&comma; large and small-scale events and unique
              | social gatherings&comma; Bella Love is connecting all things local like
              | never before&period;
          .copy-box
            h2 love who you are&hellip;
            p
              | We all
              | have a passion within us&comma; whether it&rsquor;s creativity&comma;
              | entrepreneurship or community service&period; Some passions are overflowing
              | and bursting with inspiration&comma; while others are tucked away&comma; yet to
              | be discovered&period; Whatever your passion is&comma; Bella Love believes in
              | expressing it&period; So be proud&period; Be inspiring&period; And whatever you do&comma; do
              | YOU&period;
          .copy-box
            h2 love what you do&hellip;
            p
              | We all have something unique and original to bring to the table and
              | now is the time to take action&excl; There is an abundance of local talent
              | within our community&period; From artists and musicians to small-business
              | owners and restaurateurs&comma; Bella Love highlights that talent in a
              | unique&comma; collaborative setting&period; By bringing the community together to
              | support our area&rsquor;s exceptional and innovative individuals and
              | businesses&comma; we are fueling inspiration and securing a creative future
              | for generations to come&period;
          .copy-box
            h2 love your community&hellip;
            p
              | So how does Bella Love accomplish all this&quest; Starting at the core&comma;
              | Bella Love offers a wide variety of social gatherings that give
              | everyone a chance to get involved&period; These unique events offer a fresh
              | perspective on art crawls&comma; music collaborations&comma; community service&comma;
              | and evenings of creativity and performance&period; Bella Love takes local
              | support to a whole new level by bringing Charlotte a physical social
              | network that takes you beyond the virtual realm to make real
              | connections in the community&period;
            p
              | Bella Love believes that if we all
              | take ownership and responsibility for our community&comma; there is no
              | limit to what we can accomplish&period;
            p
              | &ldquo;Uniting the community&comma; inspiring local support&comma; and
              | allowing creativity to prosper&hellip; That&rsquo;s Bella Love&period;&rdquo;
        .clear
      section#testimonials
        .parallax_effect(data-stellar-background-ratio='0.5')
          .container
            .jcarousel_block
              .jCarouselLite
                ul
                  li.span4.testimonials_block
                    .testimonials_txt
                      | It’s no accident that things are happening in downtown Cornelius these days. A lot of this excitement can be attributed to Bella Love, Inc.
                    a(href='javascript:void(0);')
                      img(src='images/avatar1.jpg')
                    .author_inf
                      span Lori K. Tate&comma;
                      | Lake Norman Currents
                  li.span4.testimonials_block
                    .testimonials_txt
                      | Unlike most bars that have open mic nights, the music and the talent is really the focus here. The studio’s open space creates a lively atmosphere for people to mingle, enjoy a few drinks and soak in the whirlwind of live art and live music happening in unison.
                    a(href='javascript:void(0);')
                      img(src='images/avatar2.jpg')
                    .author_inf
                      span Chloe Malijenovsky&comma;
                      | Cornelius Life
                  li.span4.testimonials_block
                    .testimonials_txt
                      | Take a moment and recall the most creative thing you’ve experienced? And the next? And the chances are, the majority of those moments of pure creative gratification can be found in the artistic fusion that is Bella Love.
                    a(href='javascript:void(0);')
                      img(src='images/avatar3.jpg')
                    .author_inf
                      span Nicole Camack&comma;
                      | Four Magazine
              .clear
          .jcarousel_prev
          .jcarousel_next
          .home_gradient
      section#contact.page_section
        .container
          h2
            span Contact
        .content_section.container
          .row
            .span12
              p
                | We want to hear from you! Contact us for ways to get connected or to find out more info about an upcoming event.
            .clear
            .span3
              .contact_info
                h3 Address
                | 21325 Catawba Ave, Cornelius, North Carolina, 28031
              .contact_info
                h3 Phone
                | 513-293-0569
              .contact_info
                h3 Email
                a(href='mailto:info@bellalove.org') info@bellalove.org
            .span9
              .contact_form
                #note
                #fields
                  form#ajax-contact-form.row(action='')
                    .span4
                      input.first(type='text', name='name', value='Name', onfocus='if (this.value == "Name") this.value = "";', onblur='if (this.value == "") this.value = "Name";')
                      input(type='text', name='email', value='Email', onfocus='if (this.value == "Email") this.value = "";', onblur='if (this.value == "") this.value = "Email";')
                      input.first(type='text', name='Phone', value='Phone', onblur='if(this.value=="") this.value="Phone"', onfocus='if(this.value=="Phone") this.value=""')
                    .span5
                      textarea#message(name='message', onfocus='if (this.value == "Message") this.value = "";', onblur='if (this.value == "") this.value = "Message";') Message
                    .clear
                    input.span9.contact_btn(type='submit', value='send message')
                    .clear
            .clear
      .footer
        .footer_bottom.container
          .fleft.copyright &copy;2014 Bellalove Inc.
          a.fright.down_btn(href='#home') Back to top
          .clear
    header.fixed-menu
