.off {
  display: none;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
  height: 0;
  font-size: 0;
}
body {
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
